.RData
.Rhistory
.Rproj.user/
pp/
weather/
Module*.pptx
*.docx
*.pdf
*.png
*.jpg
Rplot*
Data v.Rproj
Project V/
Accidents in the Kingdom of Saudi Arabia .pptx
trade-and-transport-data.csv
trips-vehicles-and-drivers-statistics-for-vehicle-routing-activity-by-year-and-m.csv
weather-statistics-15-minutes.csv
weather-statistics-daily.csv 
StudyArea.csv
StudyArea_SmallFile.csv
CountryPopulation.csv
Crime_Data.csv
Data v.Rproj